name = "cf-badger"
route = "https://cf-badger.com/badger/*"
account_id = "_ACCOUNT_ID_"
zone_id = "_ZONE_ID_"
api_token = "_API_TOKEN_"
type = "javascript"
compatibility_date = "2021-09-09"

[vars]
  WORKER_ENV = "production"
  WORKER_URL = "https://cf-badger.com/badger/*"
  RELEASE = "_RELEASE_"
  GITHUB_TOKEN = "_GITHUB_TOKEN"
  BADGER_KV_ID = "_BADGER_KV_ID"
  APP_ID= "_APP_ID"
  GITHUB_CLIENT_ID= "_GITHUB_CLIENT_ID"
  GITHUB_CLIENT_SECRET= "_GITHUB_CLIENT_SECRET"
  SENTRY_DSN= ""
[durable_objects]

  [[durable_objects.bindings]]
    name = "Badger"
    class_name = "Badger"

[[kv_namespaces]]
  binding = "BADGER_KV"
  preview_id = "_BADGER_KV_PREVIEW_ID"
  id = "_BADGER_KV_ID"


[env]

  [env.dev]
    workers_dev = true

    [env.dev.vars]
      WORKER_ENV = "development"
      GITHUB_TOKEN = "_GITHUB_TOKEN"
      WORKER_URL = "https://cf-badger.com/badger/*"
      RELEASE = "_RELEASE_"
      BADGER_KV_ID = "_BADGER_KV_ID"
      APP_ID= "_APP_ID"
      SENTRY_DSN= ""
      GITHUB_CLIENT_ID= "_GITHUB_CLIENT_ID"
      GITHUB_CLIENT_SECRET= "_GITHUB_CLIENT_SECRET"

    [[env.dev.kv_namespaces]]
      binding = "BADGER_KV"
      preview_id = "_BADGER_KV_PREVIEW_ID"
      id = "_BADGER_KV_ID"

[build]
  command = "yarn build "

  [build.upload]
    format = "modules"
    dir = "dist"
    main = "./index.mjs"
