name = "cf-badger"
type = "javascript"
compatibility_date = "2021-09-18"


[site]
  bucket = "./docs"
  entry-point = "."




[env]

  [env.dev]
    workers_dev = true



[build]
  command = "yarn build "

  [build.upload]
    format = "service-worker"
