name: test

on:
  push:
    branches:
      - master
env:
  GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
  WORKER_URL: "https://cf-badger.com/*"
  BADGER_KV_ID: ${{ secrets.BADGER_KV_ID }}
  BADGER_KV_PREVIEW_ID: ${{ secrets.BADGER_KV_PREVIEW_ID }}
  CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
  GH_PRIVATE_KEY: ${{ secrets.GH_PRIVATE_KEY }}  
  APP_ID: ${{ secrets.APP_ID }}
  GITHUB_CLIENT_ID: ${{ secrets.CLIENT_ID }}
  GITHUB_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_HEAD_REF#refs/heads/})"
        id: extract_branch
      - name: Prints the current branch name
        run: echo "${GITHUB_BRANCH##*/}"
        env:
          RELEASE: ${{ github.ref }}
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.cache/yarn/v6
          key: ${{ runner.OS }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      - name: install wrangler
        run: yarn add @cloudflare/wrangler
      - name: Install dependencies
        run: yarn --frozen-lockfile
      
      - run: cp wrangler.example.toml wrangler.toml

      - name: populate wrangler.toml vars
        run: |
          touch .env
          echo "GITHUB_TOKEN=$GITHUB_TOKEN" > .env
          echo "CF_API_TOKEN=$CF_API_TOKEN" >> .env
          sed -i "s/_BADGER_KV_PREVIEW_ID/$BADGER_KV_PREVIEW_ID/g" wrangler.toml
          sed -i "s/_BADGER_KV_ID/$BADGER_KV_ID/g" wrangler.toml
          sed -i "s/_GITHUB_TOKEN/$GITHUB_TOKEN/g" wrangler.toml
        shell: bash
        env:
          WORKER_ENV: 'development'
          SENTRY_DSN: ''
          WORKER_URL: ${{ env.WORKER_URL }}
          GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
          RELEASE: ${{ github.ref }}
          BADGER_KV_PREVIEW_ID: ${{env.BADGER_KV_PREVIEW_ID}}
          BADGER_KV_ID: ${{env.BADGER_KV_ID}}
          CF_API_TOKEN: ${{env.CF_API_TOKEN}}

      - name: populate wrangler.toml vars
        run: |
          sed -i "s/_GH_PRIVATE_KEY/$GH_PRIVATE_KEY/g" wrangler.toml
          sed -i "s/_APP_ID/$APP_ID/g" wrangler.toml
          sed -i "s/_GITHUB_CLIENT_ID/$GITHUB_CLIENT_ID/g" wrangler.toml
          sed -i "s/_GITHUB_CLIENT_SECRET/$GITHUB_CLIENT_SECRET/g" wrangler.toml
        shell: bash
        env:
          GH_PRIVATE_KEY: ${{env.GH_PRIVATE_KEY}}
          APP_ID: ${{env.APP_ID}}
          GITHUB_CLIENT_ID: ${{env.GITHUB_CLIENT_ID}}
          GITHUB_CLIENT_SECRET: ${{env.GITHUB_CLIENT_SECRET}}

      - run: yarn build
      - name: Run test
        run: yarn test
        env:
          WORKER_ENV: 'development'
          SENTRY_DSN: ''
          WORKER_URL: ${{ env.WORKER_URL }}
          GITHUB_TOKEN: ${{ env.GITHUB_TOKEN }}
          RELEASE: ${{ github.ref }}
          BADGER_KV_ID: ${{env.BADGER_KV_ID}}
          BADGER_KV_PREVIEW_ID: ${{env.BADGER_KV_PREVIEW_ID}}
          CF_API_TOKEN: ${{env.CF_API_TOKEN}}
          GH_PRIVATE_KEY: ${{env.GH_PRIVATE_KEY}}
          APP_ID: ${{env.APP_ID}}
          GITHUB_CLIENT_ID: ${{env.GITHUB_CLIENT_ID}}
          GITHUB_CLIENT_SECRET: ${{env.GITHUB_CLIENT_SECRET}}          